html,body{
    margin: 0;
    padding: 0;
    background-color: #28666E;
}

#header{
  font-family: 'Patua One', cursive;
  font-size: 100%;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 15px;
  background-color: #033F63;
  color: #FEDC97;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #033F63;
}

li {
  float: left;
  display: block;
}

li a {
  display: block;
  color: #FEDC97;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
}

li a:hover{
  opacity: 0.2;
}

button {
  background-color: #033F63;
  color: #FEDC97;
  font-family: 'Fredoka One', cursive;
  float: right;
  letter-spacing: 1px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.2;
}
