html,body{
    margin: 0;
    padding: 0;
    background-color: #28666E;
}

#header{
  font-family: 'Patua One', cursive;
  font-size: 100%;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 15px;
  background-color: #033F63;
  color: #FEDC97;

}

#navbar{
  font-family: 'Patua One', cursive;
  font-size: 100%;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 15px;
  background-color: #033F63;
  color: #FEDC97;

}

#logout button {
  background-color: #013656;
  color: #FEDC97;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

#logout button:hover {
  opacity: 0.2;
}
